<div class="section-title">
    <h2 style="margin-bottom: 0px">
        Alternative blocks
    </h2>
    <span>(no of alt blocks: {{no_alt_blocks}})</span>
</div>



<div class="section-content">

    <table class="section-table">
        <thead>
            <tr>
                <th>height</th>
                <th>age</th>
                <th>hash</th>
                <th>txs no</th>
            </tr>
        </thead>
        <tbody>
            {{#blocks}}
            <tr>
                <td>{{height}}</td>
                <td>{{age}}</td>
                <td>{{hash}}</td>
                <td>{{no_of_txs}}</td>
            </tr>
            {{/blocks}}
        </tbody>
    </table>


</div>