<div class="footer-links">
    <a href="https://uplexa.com/" target="_blank">Uplexa website</a>
    <a href="https://discord.gg/a7mAQwJ" target="_blank">Discord</a>
    <a href="https://t.me/uplexaOfficial" target="_blank">Telegram</a>
    <a href="https://github.com/uPlexa/" target="_blank">Github</a>
    <a href="https://www.reddit.com/r/uPlexa/" target="_blank">Reddit</a>
    <a href="http://twitter.com/uPlexaCoin" target="_blank">Twitter</a>
    <a href="https://bitcointalk.org/index.php?topic=5058404.0" target="_blank">Bitcointalk</a>
    <a href="mailto:support@uplexa.com" target="_blank">support@uplexa.com</a>
</div>
<div class="source-code">
    <p>
        <a href="https://github.com/moneroexamples/onion-monero-blockchain-explorer">source code</a>
        | explorer version (api): {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}} ({{api}})
        | monero version: {{monero_version_full}}
    </p>
</div>
</body>

</html>