<div class="section-title">
    <h2> Transaction pool</h2>
    <span>(no of txs: {{mempool_size}}, size: {{mempool_size_kB}} kB, updated every {{ mempool_refresh_time }}
        seconds)</span>
</div>

<div class="section-content">
    <table class="section-table">
        <thead>
            <tr>
                <th class="medium first">age [h:m:s]</th>
                <th>transaction hash</th>
                <th class="medium">fee/per_kB [&#181;&#x271]</th>
                <!--<td>outputs</td>-->
                <th class="medium">in/out</th>
                <th class="medium last">tx size [kB]</th>
            </tr>
        </thead>
        <tbody>
            {{#mempooltxs}}
            <tr>
                <td>{{age}}</td>
                <td><a href="/tx/{{hash}}">{{hash}}</a></td>
                <td>{{fee}}/{{payed_for_kB}}</td>
                <!--<td>{{xmr_outputs}}</td>-->
                <td>{{no_inputs}}/{{no_outputs}}</td>
                <td>{{txsize}}</td>
            </tr>
            {{/mempooltxs}}
        </tbody>
    </table>

    {{^mempool_fits_on_front_page}}
    {{#partial_mempool_shown}}
    <div class="center" style="text-align: center; margin-bottom: 10px">
        <a href="/txpool">Only {{no_of_mempool_tx_of_frontpage}} txs shown. Click here to see all of them</a>
    </div>
    {{/partial_mempool_shown}}

    {{/mempool_fits_on_front_page}}


</div>