<div class="section-title">
    <h1>Transaction</h1>
    {{#refresh}}
    <a href="/tx/{{tx_hash}}">Autorefresh is ON (10 s)</a>
    {{/refresh}}
    {{^refresh}}
    <a href="/tx/{{tx_hash}}/autorefresh">Autorefresh is OFF</a>
    {{/refresh}}
</div>

<div class="section-content">

    {{#has_error}}
    <div class="error section-infos">
        <p class="error-title">Attempt failed</h4>
            {{#error_tx_not_found}}
        <p id="tx-hash-error">Tx {{tx_hash}} not found. </p>
        <br />
        <p> If this is newly made tx, it can take some time (up to minute)
            for it to get propagated to all nodes' txpools.
            <br />
            Please refresh in 10-20 seconds to check if its here then.
        </p>
        {{/error_tx_not_found}}
    </div>

    {{/has_error}}
    {{^has_error}}
    {{#txs}}
    {{>tx_details}}
    {{/txs}}
    {{/has_error}}
</div>